<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hananabid.commons">

    <application>
        <receiver
            android:name=".receivers.SharedThemeReceiver"
            android:exported="false">
        </receiver>
    </application>
</manifest>
